dataclasses~=0.8
datasets~==1.17.0
matplotlib~=3.5.0
mendelai-brat-parser~=0.0.4
nervaluate~=0.1.8
numpy~=1.21.4
scikit-learn
seaborn~=0.11.2
seqeval~=1.2.2
smart-open~=5.2.1
spacy~=3.2.0
torch~=1.10.0
tqdm~=4.62.3
transformers~=4.12.3





